
@{
    ViewData["Title"] = "Chocolate";
}

    <input type="image" src="~/chocolate.jpg" name="image" width="500" height="500">

<div class="col-12">
    <p class="Thanks">Thanks for ordering you chocolate! We hope you enjoy.</p>
</div>

<div class="col-12">
    <p><a asp-controller="Home" asp-action="Machine">Would you like to make another order?</a></p>
</div>
