
@{
    ViewData["Title"] = "LemonTea";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<input id="lemon" type="image" src="smile.png" name="image" width="150" height="150">
<input id="coffee" type="image" src="smile.png" name="image" width="150" height="150">
<input id="chocolate" type="image" src="smile.png" name="image" width="150" height="150">

<div id="footer">
    <p id="boilingLemon"></p>
    <p id="Steeping"></p>
    <p id="pouring"></p>
    <p id="addingLemon"></p>
</div>

<script>
$(document).ready(function(){
    $('#lemon').click(function() {
        $("#boilingLemon").text("boiling your water")
                    .show()
            .fadeOut(3000, function () {
                $("#Steeping").text("Steeping the tea")
            .show()
                    .delay(3000)
                    .fadeOut(3000, function () {
                        $("#pouring").text("Pouring the tea")
                            .show()
                            .delay(3000)
                        .fadeOut(3000, function () {
                        $("#addingLemon").text("Adding the lemon")
                            .show()
                            .delay(3000)
                        });
                    });
            });
        
    });
});
    </script>
