
@{
    ViewData["Title"] = "LemonTea";
}

<div class="col-12">
    <input type="image" src="~/lemon-tea.png" name="image" width="500" height="500">
</div>

<div class="col-12">
    <p class="Thanks">Thanks for ordering you lemon tea! We hope you enjoy.</p>
</div>

<div class="col-12">
    <p><a asp-controller="Home" asp-action="Machine">Would you like to make another order?</a></p>
</div>
