@{
    ViewData["Title"] = "Drinks Machine";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>Please use the machine below to begin making your selected drink!</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row">
    <div class="col-12 col-md-6">
        <input id="lemon" type="image" src="~/lemon-tea.png" name="image" width="500" height="500">
    </div>

        <div class="col-12 col-md-6" id="footer">
            <p id="LemonTea">Delicious Lemon Tea</p>
        </div>
        <div class="col-12 col-md-6">
            <input id="coffee" type="image" src="~/coffee.jpg" name="image" width="500" height="500">
            </div>
            <div class="col-12 col-md-6" id="footer">
                <p id="FreshCoffee">Strong hot Coffee</p>
            </div>
            <div class="col-12 col-md-6">
                <input id="chocolate" type="image" src="~/chocolate.jpg" name="image" width="500" height="500">
                </div>
                <div class="col-12 col-md-6" id="footer">
                    <p id="HotChocolate">Warming hot Chocolate</p>
                </div>

                <script>
                    $(document).ready(function () {
                        $('#lemon').click(function () {
                            $("#LemonTea").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#LemonTea").text("Steeping the tea")
                                        .show()
                                        .delay(3000)
                                        .fadeOut(3000, function () {
                                            $("#LemonTea").text("Pouring the tea")
                                                .show()
                                                .delay(3000)
                                                .fadeOut(3000, function () {
                                                    $("#LemonTea").text("Adding the lemon")
                                                        .show()
                                                        .delay(3000)
                                                        .fadeOut(3000, function () {
                                                            location.href = '/Drinks/LemonTea';
                                                         });
                                                });
                                        });
                                });

                        });
                    });

                    $(document).ready(function () {
                        $('#coffee').click(function () {
                            $("#FreshCoffee").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#FreshCoffee").text("Brewing the coffee grounds")
                                        .show()
                                        .delay(3000)
                                        .fadeOut(3000, function () {
                                            $("#FreshCoffee").text("Pouring the coffee")
                                                .show()
                                                .delay(3000)
                                                .fadeOut(3000, function () {
                                                    $("#FreshCoffee").text("Adding the milk and sugar")
                                                        .show()
                                                        .delay(3000)
                                                    .fadeOut(3000, function () {
                                                            location.href = '/Drinks/Coffee';
                                                         });
                                                });
                                        });
                                });

                        });
                    });

                    $(document).ready(function () {
                        $('#chocolate').click(function () {
                            $("#HotChocolate").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#HotChocolate").text("Adding the chocolate powder")
                                        .show()
                                        .delay(3000)
                                        .fadeOut(3000, function () {
                                            $("#HotChocolate").text("Pouring the hot chocolate")
                                                .show()
                                                .delay(3000)
                                            .fadeOut(3000, function () {
                                                            location.href = '/Drinks/Chocolate';
                                                         });
                                        });
                                });

                        });
                    });
                </script>
