@{
    ViewData["Title"] = "Drinks Machine";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>Please use the machine below to begin making your selected drink!</p>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <input id="lemon" type="image" src="~/lemon-tea.png" name="image" width="500" height="500">
    </div>

        <div class="col-12 col-md-6">
            <p id="LemonTea">Delicious Lemon Tea</p>
        </div>
        <div class="col-12 col-md-6">
            <input id="coffee" type="image" src="~/coffee.jpg" name="image" width="500" height="500">
            </div>
            <div class="col-12 col-md-6">
                <p id="FreshCoffee">Strong hot Coffee</p>
            </div>
            <div class="col-12 col-md-6">
                <input id="chocolate" type="image" src="~/chocolate.jpg" name="image" width="500" height="500">
                </div>
                <div class="col-12 col-md-6">
                    <p id="HotChocolate">Warming hot Chocolate</p>
                </div>
    </div>

<!-- Scripts to add messaging on click when a user chooses an item-->
                <script>
                    // Function for the lemon tea
                    $(document).ready(function () {
                        $('#lemon').click(function () {
                            $("#LemonTea").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#LemonTea").text("Steeping the tea")
                                        .show()
                                        .fadeOut(3000, function () {
                                            $("#LemonTea").text("Pouring the tea")
                                                .show()

                                                .fadeOut(3000, function () {
                                                    $("#LemonTea").text("Adding the lemon")
                                                        .show()
                                                        .fadeOut(3000, function () {
                                                            location.href = '/Drinks/LemonTea';
                                                         });
                                                });
                                        });
                                });

                        });
                    });
                    // Function for the coffee
                    $(document).ready(function () {
                        $('#coffee').click(function () {
                            $("#FreshCoffee").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#FreshCoffee").text("Brewing the coffee grounds")
                                        .show()
                                        .fadeOut(3000, function () {
                                            $("#FreshCoffee").text("Pouring the coffee")
                                                .show()
                                                .fadeOut(3000, function () {
                                                    $("#FreshCoffee").text("Adding the milk and sugar")
                                                        .show()
                                                    .fadeOut(3000, function () {
                                                            location.href = '/Drinks/Coffee';
                                                         });
                                                });
                                        });
                                });

                        });
                    });
                    // Function for the chocolate
                    $(document).ready(function () {
                        $('#chocolate').click(function () {
                            $("#HotChocolate").text("boiling your water")
                                .show()
                                .fadeOut(3000, function () {
                                    $("#HotChocolate").text("Adding the chocolate powder")
                                        .show()
                                        .fadeOut(3000, function () {
                                            $("#HotChocolate").text("Pouring the hot chocolate")
                                                .show()
                                            .fadeOut(3000, function () {
                                                            location.href = '/Drinks/Chocolate';
                                                         });
                                        });
                                });

                        });
                    });
                </script>
